.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.search__input {
  width: 30%;
  margin: auto;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 40%;
  margin: auto;
  border: 1px solid #e9f5f5;
}

th, td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #e9f5f5;
}

tr:nth-child(odd) {
  background-color: #f8f9fa;
}

table .table__header {
  background-color: unset;
}