.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.search__input {
  width: 30%;
  margin: auto;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 40%;
  margin: auto;
  border: 1px solid black;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightgray;
}